
<% if (!everyauth.loggedIn) { %>

	<%- partial('about.html') %>  

<% } else { %>

		<div class="clearfix">
            <label for="xlInput">New Shop List:&nbsp;&nbsp;</label>
            <div class="input">
              <input class="xlarge" id="xlInput" name="xlInput" size="30" type="text" />
              <a href="#" id="addShopListButton" class="btn primary" data-loading-text="creating..." onclick="addShopList();">Add</a>
            </div>
        </div>
        <div id="lists"></div>

<% } %>