<!DOCTYPE html>
<html manifest="main.manifest">
<head>
    <title>FillCartForMe - <%= title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="google-site-verification" content="aEyh4aSpjZ8mRNqstUsatngLuAXWwLR9W66inTsf5w4"/>
    <script src="/socket.io/socket.io.js"></script>

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/jquerytagsinput.css" rel="stylesheet" type="text/css"/>
    <script src="/javascripts/jquery.min.js" type="text/javascript"></script>
    <script src="/javascripts/bootstrap-buttons.js" type="text/javascript"></script>
    <script src="/javascripts/bootstrap-alerts.js" type="text/javascript"></script>
    <script src="/javascripts/jquerytagsinput.js" type="text/javascript"></script>
    <script src="/javascripts/ejs.min.js"></script>
    <script id="shopList" type="text/template" src="/templates/list.ejs">
        <%- partial('../public/templates/list.ejs') %>
    </script>
    <script id="itemList" type="text/template" src="/templates/items.ejs">
        <%- partial('../public/templates/items.ejs') %>
    </script>
    <script type="text/javascript">

        var ejs = require('ejs');
        var socket;
        ejs.open = '{{';
        ejs.close = '}}';
        var shop;
        var shopListId;
        var initDone = false;

        function showShopLists(list) {
            var shop = document.getElementById('shopList').innerHTML;
            var html = ejs.render(shop, { shopLists:JSON.parse(list) });
            $("#lists").html(html);
        }

        function showShopList(list) {
            var items = document.getElementById('itemList').innerHTML;
            var html = ejs.render(items, { itemLists:list.items, listId:list._id });
            $("#lists").html(html);
            $("#coOwners").importTags('');
            $(list.coOwners).each(function (n, e) {
                $("#coOwners").addTag(e, {callback:false});
            });

        }

        function addShopList() {
            $('#addShopListButton').button('loading');
            socket.emit("addShopList", {shopListName:($('#xlInput').val())});
            $('#addShopListButton').button('reset');
            $('#xlInput').val("");
        }

        function deleteList(button, id) {
            $(button).button('loading');
            socket.emit("deleteShopList", {shopListId:id});
            $(button).button('reset');
        }

        function goShopWithList(button, id, name) {
            shopListId = id;
            $(button).button('loading');
            $("#shopListNameDiv").html("<h2>" + name + "</h2");
            $("#newElementLabel").html("New item:");
            $("#coOwnersDiv").show();
            $("#addShopListButton").unbind('click').click(function () {
                addItemList(id);
            });
            $("#xlInput").unbind('keypress').bind('keypress', function (e) {
                        onEnterPress(e, function () {
                            addItemList(id);
                        });
                    }
            );
            socket.emit("getShopList", {shopListId:id});
            $(button).button('reset');
            document.url = document.url + "#" + id;
        }

        function addItemList(id) {
            $('#addShopListButton').button('loading');
            socket.emit("addItem", {shopListId:id, itemName:$("#xlInput").val()});
            $('#addShopListButton').button('reset');
            $('#xlInput').val("");
        }

        function deleteItem(button, listId, id) {
            $(button).button('loading');
            socket.emit("deleteItem", {shopListId:listId, itemId:id});
            $(button).button('reset');
        }

        function buyItem(button, listId, id) {
            $(this).button('loading');
            socket.emit("buyItem", {shopListId:listId, itemId:id});
            $(this).button('reset');
        }


        function onAddTag(tag) {
            if (!$('#coOwners').tagExist(tag)) {
                socket.emit("addCoOwner", {shopListId:shopListId, coOwnerId:tag});
            }
        }
        function onRemoveTag(tag) {
            socket.emit("deleteCoOwner", {shopListId:shopListId, coOwnerId:tag});
        }

        function onEnterPress(e, call) {
            if (e.keyCode == 13) {
                call();
                $(e.target).focus();
            }
        }

        $(document).ready(function () {
            socket = io.connect('http://fillcart4.me');
//            socket = io.connect('http://localhost');
            socket.on("refreshShopLists", function (data) {
                showShopLists(data.list);
            });
            socket.on("refreshShopList", function (data) {
                showShopList(data.list);
            });
            socket.on("newShopListShared", function (data) {

            });
            $("#addShopListButton").click(addShopList);
            $("#coOwners").tagsInput({onAddTag:onAddTag, onRemoveTag:onRemoveTag, defaultText:"add user"});
        });

    </script>
</head>
<body>
<div class="topbar" data-scrollspy="scrollspy" style="min-height: 180px;">
    <div class="topbar-inner" style="min-height: 180px;">
        <a class="brand" style="padding-left: 50px;" href="/"><img src="/images/logo.png"/></a><br/>
        <ul class="nav">
            <li><a href="/about">About</a></li>
            <% if (!everyauth.loggedIn) { %>
            <li class="importantMenu"><a href="/auth/google">Login with Google</a></li>

            <% } else { %>

            <li><a href="#"><%= everyauth.google.user.id %></a></li>
            <li><a href="/logout">logout</a></li>
            <% } %>
        </ul>

    </div>
</div>
<div id="main">
    <div id="shopListNameDiv">
    </div>
    <%- body %>
</div>


<footer class="footer">

    <p class="pull-right"><a href="#">Back to top</a></p>

    <p>
        2012 &copy; FillCart4.me dev team.
    </p>

</footer>

<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28373659-1']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>
</body>
</html>
