{{ if (itemLists != null && itemLists.length) { }}
<table class="bordered-table" style="min-width: 230px;">

    {{ itemLists.forEach(function(itemList){ }}
    <tr>
        <td style="{{ if(itemList.isBought) { }} background-color: #A9DBA9; {{ } }}">{{= itemList.name }}</td>
        <td style="width: 140px; text-align: center;">

            <a href="#" class="btn primary {{ if(itemList.isBought) { }} disabled {{ } }}" data-loading-text="buing!"
               onclick="buyItem(this, '{{= listId }}', '{{= itemList._id }}');">Buy</a>

            <a href="#" class="btn" data-loading-text="deleting..."
               onclick="deleteItem(this, '{{= listId }}', '{{= itemList._id }}');">Delete</a>
        </td>
    </li>
    {{ }) }}
</table>
        {{ } }}
