body {
    padding-top: 190px;
    padding-left: 10px;
    padding-right: 10px;
}

html {

}

.topbar-inner {
    padding-left: 10px;
    padding-right: 30px;
}

.importantMenu {
    font-size: 18pt;
}

#loadingInfo {
    width: 540px;
    height: 30px;
}

.promoText p {
    font-size: 15pt;
    line-height: 24pt;
}

.promoBig {
    font-size: 17pt;
}

.footer {
    margin-top: 180px;
    height: 30px;
}

#lists {
    width: 420px;
    min-height: 1px;
}

#main {
    margin-left: auto;
    margin-right: auto;
    width: 420px;;
}


