body {
    padding-top: 150px;
}

html {

}

.importantMenu {
    font-size: 18pt;
}

#loadingInfo {
    width: 540px;
    height: 30px;
}

.promoText p {
    font-size: 15pt;
    line-height: 24pt;
}

.promoBig {
    font-size: 17pt;
}

.footer {
    margin-top: 180px;
    height: 30px;
}

#lists {
    width: 520px;
    min-height: 1px;
}


